body {
    margin: 0;
    text-align: center;
    font-size: 20px;
}

h3 {
    margin: 0;
}

/* flex */

.flex {
    display: flex;
}

.flex.direction-column {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.justify-space {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-evenly {
    justify-content: space-evenly;
}

.flex.align-center {
    align-items: center;
}

.flex.align-strech {
    align-items: stretch;
}

.flex.align-start {
    align-items: start;
}

.flex .align-self-center {
    align-self: center;
}

/* WEATHER */

.weather {
    display: inline-block;
    border: 2px solid black;
    padding: 1rem;
}

.weather .weatherIcon {
    width: 2rem;
}

.weather .weatherFirstLine {
    font-weight: bold;
}

.weather .weatherFirstLine span {
    color: lightsalmon;
}

.weather .weatherSecondLine span {
    background-color: lightgray;
    border-radius: 1rem;
    padding: 0.3rem;
}

.currLocation {
    text-align: left;
}

.map {
    width: 50%;
    height: 400px;
}